<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='POST'>
        <label>kasa</label>
        <!--name jest potrzebne do app.py do if z request.form-->
        <input name="pierwszy_input" type="text" ><br> 
        <label>nw cos</label><br>
        <input name="drugi" type="text"><br>
        <input type="submit" value="send">
    
</body>
</html>